@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 24, 24, 27;
  --background-end-rgb: 9, 9, 11;
  --primary-color: 124, 58, 237; /* #7c3aed in RGB */
  --secondary-color: 108, 43, 217; /* #6c2bd9 in RGB */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  overflow: hidden;
}

* {
  user-select: none;
}

canvas {
  touch-action: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #18181b; /* zinc-900 */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* zinc-700 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* zinc-600 */
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #18181b; /* thumb track */
}
